@{
    ViewData["Title"] = "index";
}

<h2>Management Tournament</h2>
<ul>
    <li><a asp-action="CreateTournament">Generate new Tournament</a></li>
    <li><a asp-action="CreateRandomTournament">Generate new random Tournament</a></li>
    <li><a asp-action="Current">Continue the Tournament</a></li>
</ul>




