@{
    ViewData["Title"] = "Home Page";
}

<h2>Tournament Manager</h2>
<h3>This problem was solved using ASP.NET MVC CORE and DDD.</h3>
<h4>The solution was to represent the teams in a binary tree, where the teams are the nodes and the levels are the rounds.</h4>
<h4><a target="_blank" href="https://cs.stackexchange.com/q/79221">Algorithm for binary tree mounting</a></h4>