@model IEnumerable<TournamentManager.Mvc.Models.TeamModel>

@{
    ViewData["Title"] = "Team";
}

<h2>Teams</h2>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

@if (!Model.Any())
{
    <h3>There are no teams registered. Click <a asp-controller="Team" asp-action="Create">here</a> to register</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Kingdom)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kingdom)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}